<div class="container mt-4">
  <h2 class="mb-4 fw-semibold">Productos disponibles</h2>

  <div class="mb-3 ">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre..."
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
    />
  </div>

  <div class="row g-4">
    @for (product of filteredProducts; track product.productId) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-product-card [product]="product"></app-product-card>
      </div>
    } @empty {
      <div class="col-12 text-center text-muted py-5">
        No hay productos disponibles por el momento.
      </div>
    }
  </div>
</div>
