.btn-action {
  padding: 8px;
  border: transparent;
}

.dropdown-menu {
  $border-radius: 8px;

  padding: 0;
  min-width: 5rem;
  width: 7.5rem;
  border-radius: $border-radius;

  button {
    &:first-child {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    padding: 8px 16px;
    border: none;
    background: none;
    text-align: right;

    &:hover {
      background-color: var(--bs-gray-100);
    }
  }
}
