<div class="py-4">
  <div>
    <div class="d-flex justify-content-start align-items-center gap-2">
      @if (backRoute) {
        <app-material-icon role="button" [routerLink]="backRoute">arrow_back</app-material-icon>
      }

      @if (title && titleComplement) {
        <h1 class="fw-bold h4 m-0">{{ title }}:</h1>
        <h1 class="fw-normal h4 m-0">{{ titleComplement }}</h1>
      } @else if (title) {
        <h1 class="fw-bold h4 m-0">{{ title }}</h1>
      }
    </div>

    @if (description) {
      <p class="m-0 mt-1 fw-light">{{ description }}</p>
    }
  </div>
</div>
